

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



.footer {
      background-color: #505051;
      color: white;
      text-align: center;
      padding: 20px 10px;
      margin-top: 50px;
    }

    .footer h3 {
      margin-bottom: 10px;
    }

    .footer-links a {
      display: block;
      color: #bdbdbd;
      text-decoration: none;
      margin: 5px 0;
      transition: color 0.3s;
    }

    .footer-links a:hover {
      color: white;
    }

    .footer-bottom {
      border-top: 1px solid #444;
      margin-top: 15px;
      padding-top: 10px;
      font-size: 0.9em;
      color: #aaa;
      
    }


.btn-custom {
    background-color: #1d2671;
    color: white;

    transition: 0.3s;
}

.btn-custom:hover {
    background-color: #c33764;
    transform: scale(1.05);
}



