body {
    background-color: #0f70d1;
}

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



footer {
    background-color: #e9ecef;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
}


.btn-custom {
    background-color: #1d2671;
    color: white;

    transition: 0.3s;
}

.btn-custom:hover {
    background-color: #c33764;
    transform: scale(1.05);
}